body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 0px;
}

a {
    text-decoration: none;
}

header {
    overflow: hidden;
    width: 100%;
    
    a {
        color: white;
    }

    .lside {
        float: left;
        display: block;
        text-align: center;
        padding: 30px 10px;
    }

    .rside {
        float: right;
        display: block;
        text-align: center;
        padding: 30px 10px;
    }
}